.content{
    display: grid;
    grid-template-columns: 100px repeat(2);
}
.item1{
    background-color: chocolate;
}
.item2{
    background-color: chocolate;
}
.item3{
    background-color: chocolate;
}
.item4{
    background-color: chocolate;
}
.item5{
    background-color: chocolate;
}