*{
    margin: 0 0;
}
.back{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.white_box{
    width: 400px;
    height: 240px;
    background-color: white;
    align-content: center;
    display: flex;
    flex-direction: column;
   justify-content: center;
}
.title{
    color: aqua;
}
.login{
    width: 200px;
    height: 25px;
    background-color: aqua;
    margin-top: 15px;
}
.name{
    margin: 15px 0px;
    width: 200px;
    height: 25px;
}