*{
    margin: 0;
}
body{
    background-color: aqua;
    height: 700px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.day{
    cursor: not-allowed;
    margin-top: 50px;
    color: white;
    text-transform: uppercase;
}
.month{
    cursor: not-allowed;
    color: white;
    font-size: 10rem;
}
/* boxes start from here*/
.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.under_box{
    width: 700px;
    height: 375px;
    background-color: darkorchid;
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-around;
}
.secon_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px 10px;
}
.first_line_box{
    width: 300px;
    height: 35px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    
}.second_line_box{
    width: 300px;
    height: 35px;
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;

}.third_line_box{
    width: 300px;
    height: 35px;
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
   
}.fourth_line_box{
    width: 300px;
    height: 35px;
    background-color:rgb(187, 187, 66);
    display: flex;
    align-items: center;
   justify-content: center;
}.fifth_line_box{
    width: 300px;
    height: 35px;
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sixth_line_box{
    width: 300px;
    height: 35px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orange{
    text-align: center;
    -webkit-text-stroke: 0.20px rgb(170, 0, 255);
}
.lemon{
    color: rgb(58, 226, 58);
    -webkit-text-stroke: 0.20px green;
}
.kumquat{
    color: rgb(238, 71, 71);
    -webkit-text-stroke: 0.20px rgb(255, 1, 1);
}
.grape{
    color: rgb(226, 226, 71);
    -webkit-text-stroke: 0.20px rgb(217, 255, 0);
}
.peach{
    color: rgb(74, 74, 175);
    -webkit-text-stroke: 0.20px rgb(1, 5, 255);
}
a{
    text-decoration: none;
}
.first_line_box:hover{
    width: 310px;
    height: 50px;
    transition: 1s;
    transition-timing-function: linear;
}
.second_line_box:hover{
    width: 310px;
    height: 50px;
    transition: 1s;
    transition-timing-function: linear;
}
.third_line_box:hover{
    width: 310px;
    height: 50px;
    transition: 1s;
    transition-timing-function: linear;
}
.fourth_line_box:hover{
    width: 310px;
    height: 50px;
    transition: 1s;
    transition-timing-function: linear;
}
.fifth_line_box:hover{
    width: 310px;
    height: 50px;
    transition: 1s;
    transition-timing-function: linear;
}
.sixth_line_box:hover{
    width: 310px;
    height: 50px;
    transition: 1s;
    transition-timing-function: linear;
}   
.all{
    width: 700px;
    height: 30px;
    background-color: lime;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.see_all{
    color: blue;
}
.all:hover{
    height: 40px;
    transition: 2s;
}
.see_all:hover {
    color: red;
}
/* boxes end from here*/